body,html{position:relative;overflow:hidden;height:100%;min-height: 25.813rem; -webkit-tap-highlight-color:transparent}
article,aside,blockquote,body,button,code,dd,details,div,dl,dt,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hr,html,iframe,input,legend,li,menu,nav,ol,p,pre,section,td,textarea,th,ul{margin:0;padding:0}
div{margin:0 auto}
:focus{outline:0}
article,aside,details,figcaption,figure,footer,header,menu,nav,section{display:block}
body,button,input,select,textarea{outline:0}
h1,h2,h3,h4,h5,h6{font-weight:500;font-size:100%}
input,select,textarea{border:0;background:0;vertical-align:middle;font-size:100%;resize:none;}
b{font-weight:400}
img{border:0}
address,cite,code,em,i,th{font-weight:500;font-style:normal}
.clear{clear:both;font-size:0;line-height:0}
q:after,q:before{content:''}
abbr,acronym{border:0}
a{text-decoration:none}
.m0out{margin:0 auto}
.im{ime-mode:disabled}
a:active,a:link,a:visited{color:#666}
a:active{background:0 0\9}
a:hover{color:#0073b5}
::selection{background:#1dace5;color:#fff}
img::selection{background:0}
.main{z-index:99;font-size:0;}
.slide{height: 100%;position: relative;}
.swiper-container{width: 100%;height: 100%;overflow:hidden;position: relative;}

#app {overflow: hidden; font-family: 'Avenir', Helvetica, Arial, sans-serif;-webkit-font-smoothing: antialiased;-moz-osx-font-smoothing: grayscale;text-align: center;width: 100%;height: 100%;}
.scroll-view {touch-action: none;position: absolute;top: 0;left: 0;bottom: 0;right: 0;overflow: hidden;}
.box{overflow: hidden;-webkit-overflow-scrolling: touch;}
.nav{position: fixed;width: 100%;height: 100%;background-color: rgba(0,0,0,.6);left: 0;top:0;z-index: 10;}
.nav.imgNav span{display: block;margin:auto;font-size: .8rem;color: #fff;text-align: center;}
.tan{width: 100%;height: 100%;position: absolute;left: 0;right: 0;top:0;background-color: rgba(0,0,0,.6);z-index: 999;}
body{
	background-color: #d52621;
	position: relative;
	padding-top: constant(safe-area-inset-top);
}

.fontFam{font-family: 'SimSun'}
.pg{
	width:100%;
	height:100%;
	background:url('../images/cs_bg.jpg') no-repeat center 0;
	background-size: 16rem 4.544rem;;
	text-align:center;
	overflow:hidden;
	position:relative;
	font-size: 0;
	box-sizing: border-box;
} 
.index{
	padding-top: 2.219rem;
	.cs_index_bg{
		width: 15.68rem;
		display: block;
		margin:auto;
		pointer-events: none;
	}
	ul{
		width: 12.8rem;
		display: block;
		margin:0.789rem auto 0.64rem;
		border-radius: 4px;
		border:1px solid #f9dc71;
		background-color: #bd1d14;
		li{
			height: 2.219rem;
			width: 100%;
			display: block;
			line-height: 2.219rem;
			&:first-child{
				border-bottom: 1px solid #f9dc71;
			}
			img{
				width: 0.811rem;height: 0.811rem;
				display: inline-block;vertical-align: top;
				margin-top: 0.597rem;
			}
			input{
				height: 2.219rem;
				width: 10.027rem;
				display: inline-block;vertical-align: top;
				margin-left: 1rem;
				color: #fff;
				font-size: 0.469rem;
				&::-webkit-input-placeholder{
        			color: #fff;
				}
			}
		}
	}
	.cs_index_btn{
		width: 12.8rem;
		display: block;
		margin:auto;
	}
}
.zh1{
	$col: #da2820;
	padding-top: 3.499rem;
	.zh1_body{
		width: 14.187rem;
		margin:auto;
		overflow: hidden;
		border-radius: 8px;
		.zh1_name{
			height: 1.92rem;
			line-height: 1.92rem;
			color: $col;
			font-size: 0.512rem;
			background-color: #e5e5e5;
			padding-left: 1.131rem;
			position: relative;
			box-sizing: border-box;
			text-align: left;
			&:before{
				content: '';
				position: absolute;
				height: 0.789rem;
				width: 0.171rem;
				background-color: $col;
				margin:auto;
				bottom: 0;
				top:0;
				left:0.597rem;
			}
		}
		.zh1_ka{
			background-color: #fff;
			padding-top: 0.747rem;
			padding-bottom: .9rem;
			.zh1_zhi{
				width: 10.163rem;
				display: block;
				margin:0 auto 0.512rem;
				position: relative;
				img{
					width: 100%;
					pointer-events: none;
				}
				.zh1_ka_btn{
					position: absolute;
					width: 3.587rem;
					z-index: 1;
					right: 0;
					height: 100%;
					top:0;
				}
			}
		}
	}
	.cs_zhi1_btn{
		width: 14.123rem;
		display: block;
		margin:0.469rem auto 0;
	}
}
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to {
  opacity: 0;
}
.mong{
	background-color: transparent;
	.content{
		width: 100%;
		height: 100%;
		display: flex;
		text-align: center;
		flex-direction: column;
		justify-content: center;
		span{
			max-width: 10rem;
			color: #fff;
			font-size: .6rem;
			margin:auto;
			background-color: rgba(0,0,0,.6);
			padding:.3rem 1rem;
			border-radius: 8px;
		}
	}
}
.zong1{
	padding-top: 7.083rem;
	.cs_zhi1_btn{
		margin-top: 0;
		margin-bottom: 1.707rem;
		&.cs_shang1_btn2{
			margin-bottom: 0.533rem;
		}
	}
	.radio{
		width: 0.213rem;
		height: 0.213rem;
		margin: 0 auto 1.472rem;
		$thiscol:#f3f7f9;
		background-color:$thiscol;
		position: relative;
		border-radius: 50%;
		&:before{
			content: '';
			position: absolute;
			margin:auto;
			top:0;
			bottom: 0;
			width: 5.397rem;
			height: 1px;
			background-color:$thiscol;
			left: -6.293rem;
		}
		&:after{
			content: '';
			position: absolute;
			margin:auto;
			top:0;
			bottom: 0;
			width: 5.397rem;
			height: 1px;
			background-color:$thiscol;
			right: -6.293rem;
		}
	}
}
.er_body{
	width: 10.347rem;
	height: 12.352rem;
	background:url('../images/cs_er_body.png') no-repeat center;
	background-size: 100% 100%;
	position: absolute;
	margin:auto;
	left: 0;
	right: 0;bottom: 0;
	top:0;
	box-sizing: border-box;
	padding-top: 2.837rem;
	.cs_er_return{
		width: 6.72rem;
		height: 1.451rem;
		display: block;margin:0.64rem auto 0;
	}
}
#qrcode{
	width: 6.891rem;
	height: 6.891rem;
	overflow: hidden;
	margin:auto;
	text-align: center;
	img{
		width: 6.891rem;
		height: 6.891rem;
		display: block;
	}
}
.tong{
	padding-top: 3.477rem;
	.return{
		position: absolute;
		top:1.2rem;
		right: 1rem;
		color: #c13729;
		font-size: 0.5rem;
		padding:.2rem .5rem;
		background:#ffecac;
		border-radius: 4px;
	}
	.cs_tong1{
		width: 14.784rem;
		height: 8.853rem;
		margin:auto;
		background:url(../images/cs_tong1.png) no-repeat center;
		background-size: 100% 100%;
		box-sizing: border-box;
		padding-top: 0.725rem;
		position: relative;
		z-index: 2;
		&:before{
			content:'';
			background:url(../images/cs_h.png) no-repeat center;
			background-size: 100% 100%;
			position: absolute;
			width: 0.235rem;
			height: 1.109rem;
			left: 0.96rem;
			bottom: -0.64rem;
		}
		&:after{
			content:'';
			background:url(../images/cs_h.png) no-repeat center;
			background-size: 100% 100%;
			position: absolute;
			width: 0.235rem;
			height: 1.109rem;
			right: 0.96rem;
			bottom: -0.64rem;
		}
		.cs_tong1_tit{
			font-size: 0.555rem;
			color: #2d2c2c;
			text-align: center;
			height: 1.237rem;
			line-height: 1.237rem;
		}
		ul{
			width: 12.16rem;
			margin:auto;
			li{
				height: 1.612rem;
				width: 100%;
				display: block;
				border-bottom: 1px dashed #626262;
				text-align: left;
				&:last-child{
					border-bottom:none;
				}
				.cs_tong1_quan{
					width: 5.333rem;
					height: 1.3rem;
					line-height: 1.3rem;
					color: #fff;
					background:#f42c3c;
					display: inline-block;
					vertical-align: top;
					border-radius: 8px;
					text-align: center;
					font-size: 0.469rem;
					margin-top: .15rem;
				}
				.cs_tong1_num{
					line-height: 1.612rem;
					float: right;
					color: #2d2c2c;
					font-size: 0.512rem;
				}
			}
		}
	}
	.cs_tong2{
		width: 14.784rem;
		height: 8.853rem;
		margin:auto;
		background:url(../images/cs_tong1.png) no-repeat center;
		background-size: 100% 100%;
		box-sizing: border-box;
		padding-top: 0.725rem;
		position: relative;
		z-index: 2;
		&:before{
			content:'';
			background:url(../images/cs_h.png) no-repeat center;
			background-size: 100% 100%;
			position: absolute;
			width: 0.235rem;
			height: 1.109rem;
			left: 0.96rem;
			bottom: -0.64rem;
		}
		&:after{
			content:'';
			background:url(../images/cs_h.png) no-repeat center;
			background-size: 100% 100%;
			position: absolute;
			width: 0.235rem;
			height: 1.109rem;
			right: 0.96rem;
			bottom: -0.64rem;
		}
		.cs_tong1_tit{
			font-size: 0.555rem;
			color: #2d2c2c;
			text-align: center;
			height: 1.237rem;
			line-height: 1.237rem;
		}
		table{
			width: 12.949rem;
			margin:auto;
			color: #2d2c2c;
			font-size: 0.484rem;
			border-color: #bfbfbf;
			tr{
				height:1.2rem;
			}
			thead{
				background-color: #e5e5e5;
			}
		}
	}
	.cs_tong3{
		width: 14.08rem;
		height: 10.699rem;
		margin:0.277rem auto 0;
		background:url(../images/cs_tong2.png) no-repeat center;
		background-size: 100% 100%;
		box-sizing: border-box;
		position: relative;
		padding-top: 0.875rem;
		z-index: 1;
		.cs_tong3_scroll{
			width: 100%;
			height: 9.589rem;
			margin:auto;
			position: relative;
			overflow: hidden;
		}
		ul{
			position: relative;z-index: 99;
			width: 100%;
			li{
				background-color: #db2920;
				width: 4.352rem;height: 1.707rem;
				display: inline-block;
				vertical-align: top;
				margin:0 0.128rem 0.299rem;
				border-radius: 4px;
				line-height: 1.707rem;
				color: #fff;
				font-size: 0.484rem;
				&.noborder{
					background-color: transparent;
					pointer-events: none;
				}
			}
		}
	}
	.cs_tong4{
		width: 14.08rem;
		height: 10.699rem;
		margin:0.277rem auto 0;
		background:url(../images/cs_tong2.png) no-repeat center;
		background-size: 100% 100%;
		box-sizing: border-box;
		position: relative;
		padding-top: 0.875rem;
		z-index: 1;
		.cs_tong4_scroll{
			width: 100%;
			height: 9.589rem;
			margin:auto;
			position: relative;
			overflow: hidden;
		}
		.cs_tong4_tit{
			width: 13.525rem;
			display: block;
			text-align: left;
			padding-left: 0.256rem;
			box-sizing: border-box;
			margin-bottom: 0.341rem;
		}
		.cs_tong4_tit_num1{
			color: #d82720;
			font-size: 0.484rem;
			width: 2.987rem;
			height: 0.853rem;
			box-sizing: border-box;
			line-height: 0.853rem;
			border:1px solid #d82720;
			border-radius: 16px;
			display: inline-block;vertical-align: top;
			text-align: center;
		}
		.cs_tong4_tit_num2{
			color: #2d2c2c;
			font-size: 0.484rem;
			height: 0.853rem;
			box-sizing: border-box;
			line-height: 0.853rem;
			display: inline-block;vertical-align: top;
			text-align: center;
			margin-left: 0.32rem;
		}
		ul{
			position: relative;
			z-index: 99;
			width: 100%;
			padding-bottom: 0.34rem;
			border-bottom: 1px dashed #bfbfbf;
			margin-bottom: 0.34rem;
			li{
				background-color: #fb6451;
				width: 4.288rem;height: 1.003rem;
				display: inline-block;
				vertical-align: top;
				margin:0 0.128rem 0.149rem;
				border-radius: 4px;
				line-height: 1.003rem;
				color: #fff;
				font-size: 0.484rem;
				&.noborder{
					background:transparent;
					pointer-events: none;
				}
				&.stka{
					background-color: #ff21be;
				}
				&.check{
					background-color: #8a8a8a;
				}
				&.ka{
					background-color: #8a8a8a;
					box-shadow: 3px 3px 5px #555;
				}
			}
		}
	}
	.cs_tong5{
		width: 14.08rem;
		height: 10.699rem;
		margin:0.277rem auto 0;
		background:url(../images/cs_tong2.png) no-repeat center;
		background-size: 100% 100%;
		box-sizing: border-box;
		position: relative;
		padding-top: 0.875rem;
		z-index: 1;
		.cs_tong5_scroll{
			width: 100%;
			height: 7.589rem;
			margin:auto;
			position: relative;
			overflow: hidden;
		}
		.cs_tong5_tit{
			width: 13.525rem;
			display: block;
			text-align: left;
			padding-left: 0.256rem;
			box-sizing: border-box;
			margin-bottom: 0.341rem;
		}
		.cs_tong5_tit_num1{
			color: #d82720;
			font-size: 0.484rem;
			width: 2.987rem;
			height: 0.853rem;
			box-sizing: border-box;
			line-height: 0.853rem;
			border:1px solid #d82720;
			border-radius: 16px;
			display: inline-block;vertical-align: top;
			text-align: center;
		}
		.cs_tong5_tit_num2{
			color: #2d2c2c;
			font-size: 0.484rem;
			height: 0.853rem;
			box-sizing: border-box;
			line-height: 0.853rem;
			display: inline-block;vertical-align: top;
			text-align: center;
			margin-left: 0.32rem;
		}
		ul{
			position: relative;
			z-index: 99;
			width: 100%;
			margin-bottom: 0.34rem;
			padding-bottom: 0.34rem;
			border-bottom: 1px dashed #bfbfbf;
			li{
				background-color: #fb6451;
				width: 4.288rem;height: 1.003rem;
				display: inline-block;
				vertical-align: top;
				margin:0 0.128rem 0.149rem;
				border-radius: 4px;
				line-height: 1.003rem;
				color: #fff;
				font-size: 0.484rem;
				overflow: hidden;
				&.noborder{
					background:transparent;
					pointer-events: none;
				}
				&.stka{
					background-color: #ff21be;
				}
				&.check{
					background-color: #8a8a8a;
				}
				&.ka{
					background-color: #8a8a8a;
					box-shadow: 3px 3px 5px #555;
				}
			}
		}
		.cs_tong5_foot{
			width: 100%;
			text-align: center;
			height: 1.237rem;
			line-height: 1.237rem;
			margin-top: 0.576rem;
			i{
				width: 0.533rem;height: 0.533rem;
				display: inline-block;vertical-align: top;
				border:1px solid #2d2c2c;
				margin-top: 0.334rem;
				&.active{
					background-color: #2d2c2c;
				}
			}
			.cs_tong5_btn{
				width: 3.84rem;
				height: 1.237rem;
				background-color: #d0241f;
				line-height: 1.237rem;
				display: inline-block;vertical-align: top;
				border-radius: 4px;
				color: #fff;
				font-size: 0.427rem;
			}
			span{
				color: #2d2c2c;
				font-size: 0.384rem;
				display: inline-block;vertical-align: top;
				padding:0 0.533rem;
			}
		}
	}
}
.ipx .tong{
	.cs_tong3{
		height: 15.699rem;
		.cs_tong3_scroll{
			height: 14.589rem;
		}
	}
	.cs_tong4{
		height: 15.699rem;
		.cs_tong4_scroll{
			height: 14.589rem;
		}
	}
	.cs_tong5{
		height: 15.699rem;
		.cs_tong5_scroll{
			height: 12.589rem;
		}
	}
}
.scroll-view {
  touch-action: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}
.shang1{
	padding-top: 4.8rem;
	.cs_shang1_tit{
		font-size: 0.512rem;
		color: #fff;text-align: left;
		width: 14.123rem;
		height: 0.853rem;
		line-height: .853rem;
		box-sizing: border-box;
		margin-bottom: 0.896rem;
		padding-left: 0.533rem;
		position: relative;
		&:before{
			content: '';
			position: absolute;
			height: 100%;
			width: 0.064rem;
			background-color: #fff;
			left: 0;
			top:0;
		}
	}
	input{
		width: 14.123rem;
		height: 2.133rem;
		border:1px solid #f9dc71;
		border-radius: 4px;
		margin-bottom: 0.64rem;
		color: #fff;
		font-size: 0.569rem;
		line-height: 2.133rem;
		padding-left: 2.432rem;
		box-sizing: border-box;
		background:url('../images/cs_index_flag2.png') no-repeat 0.704rem center;
		background-size: 0.661rem 0.768rem;
		background-color: #bd1d14;
		&::-webkit-input-placeholder{
			color: #fff;
		}
	}
}
.cs_he1{
	width: 10.347rem;
	height: 12.352rem;
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	top: 0;
	bottom: 0;
	background:url('../images/cs_he1.png') no-repeat center;
	background-size: 100% 100%;
	text-align: center;
	padding-top: 3.456rem;
	box-sizing: border-box;
	span{
		font-size: 0.612rem;
		color: #fff;
		display: block;
	}
	i{
		color: #e12b21;
		font-size: 0.804rem;
		display: block;
		margin:1.493rem auto 0;
	}
	img{
		width: 6.763rem;
		display: block;margin:3.029rem auto 0;
	}
}
.cs_he2{
	width: 10.347rem;
	height: 12.352rem;
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
	top: 0;
	bottom: 0;
	background:url('../images/cs_er_body.png') no-repeat center;
	background-size: 100% 100%;
	text-align: center;
	padding-top: 3.547rem;
	box-sizing: border-box;
	span{
		font-size: 0.953rem;
		color: #ffd957;
		display: block;
	}
	i{
		color: #fff;
		font-size: 0.504rem;
		display: block;
		margin:.293rem auto 0;
	}
	img{
		width: 6.763rem;
		display: block;margin:3.229rem auto 0;
	}
}